.content {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.navbar{
    margin-top: -0.5vw;
    width: 99vw;

}

.container-fluid {
    background: #E0E0E0;
    height: 70px;
    border-radius: 0 25px 0 25px;
}

h1 {
    margin-bottom: 50px;
}

.right {
    margin-left: 65vw;
}

.center {
    position: absolute;
    margin-left: 45vw;
    margin-top: -0.7vw;
    background: #138496;
    padding: 6px;
    border-radius: 0 20px 0 20px;
}

ul {
    list-style-type: circle;
    font-size: 20px;
}

.pager, .pager li{
    list-style-type: none;
    display: inline;
}

.next, .next_disabled{
    margin-left: 50vw;
}
