.content {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}
.navbar{
    margin-top: -0.5vw;
    width: 99vw;

}

.container-fluid {
    background: #E0E0E0;
    height: 70px;
    border-radius: 0 25px 0 25px;
}

h1 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.right {
    margin-left: 60vw;
}

.right .btn {
    padding-left: 40px;
    padding-right: 40px;
}

.center {
    position: absolute;
    margin-left: 45vw;
    margin-top: -0.7vw;
    background: #138496;
    padding: 6px;
    border-radius: 0 20px 0 20px;
}

.userindex {
    position: absolute;
    margin-left: 80vw;
    margin-top: 65px;
}

ul {
    list-style-type: circle;
    font-size: 20px;
}

.pager, .pager li{
    list-style-type: none;
    display: inline;
}

.next, .next_disabled{
    margin-left: 35vw;
}

.form-group label.control-label.required:after {
    content: " *";
    color: #a94442;;
}